API_ID=20948514
API_HASH=016181c2e10f98965cf9b03cd21a0214
BOT_TOKEN=7669935809:AAH5qb-5Ffklv7-zYXinBHFz959IpVXQCIE
LOG_GROUP_ID=-1002037630331
MONGO_DB_URI=mongodb+srv://Krishna:pss968048@cluster0.4rfuzro.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=6579066646
STRING_SESSION=BQDNvmIAtm9iS5DqcImjLLSkNF5T0PLbBAF_KK46-NsJ_59DTLQGOv7cxsU0k9WNbC_FEwGL20E5y0_iPXZIkod5jwAY0VLbpM712c9OvAF6hk0sJEQp88gK1aYPrCHC8-cRaaEngck_uKFSfhYygW8QEsc5MU3d2LGBGRjXPnZDptVQBVzg1jC4dIZvq-90hqokWA-JibU4NkoHWx3rlWp0yFESlogz6KcNGL4tyEjCrlihHnfkxPB8rbQLdBoX5fdoygKvxyqvl8PMWN11qIMxNBaoxsEv4fD_lIw3o_AUoIDqQnNqwJyncJJ9bN3vNgvTvtdZZX4C7ZizFkH9OyaznOx6aAAAAAGIJJcWAA
